*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 40px;
    position: fixed;
    width: 100%;

}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 22px;
    border-radius: 50px;
    margin-left: 5px;
}
#intro{
    height: 45%;
    width: 100%;
    background-color:white;
    padding: 55px 60px;
}
#intro h1{
    font-size: 100px;
    line-height: 90px;
    letter-spacing: -5px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
#place h3,#place h4{
    font-size: 33px;
    font-weight: 600px;
}
#hero-image{
    height: 87%;
    width: 100%;
    background-color: orange;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}

#about{
    height: 50%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 45px 60px;
        

}
#about h2{
    width: 60%;
    font-size: 60px;
    line-height: 60px;
}
#about2{
    width: 36%;
    height: 100%;
    border-left:2px solid black    ;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about2 h3{
  font-size: 33px;
  font-weight: 600;
}
#icons i{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 45px 60px;
    display: flex;
}
#work1{
    width: 35%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}
#work1 h3,i{
    font-size: 28px;
    font-weight: 600;
}
#work2{
    width: 65%;
    height: 100%;
    
    /* background-color: pink; */
}
#work2-part1{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
#work2-part2{
    display: flex;
    border-top: 2px solid black;
    height: 50%;
    /* background-color: orange; */
    
}
.element{
    width: 50%;
    height: 100%;
    
}
.element h4{
    font-size: 40px;
}
.element p{
    font-size: 20px;
}
#box1{
    /* background-color: red; */
    height: 100%;
    padding: 0 50px;
    border-right: 2px solid black;
    padding-bottom: 50px    ;
}
#box2{
    /* background-color: rgb(30, 255, 0); */
    height: 100%;
    padding: 0 50px;
}
#box3{
    /* background-color: rgb(0, 238, 255); */
    height: 100%;
    padding: 0 50px;
    border-right: 2px solid black;  
    padding-top: 20px;
    
}
#box4{
    /* background-color: rgb(255, 0, 174); */
    height: 100%;
    padding: 0 50px;
    padding-top: 20px;
}
